include AUTHORS.rst
include HISTORY.rst
include LICENSE
include README.rst
include latex_to_myst/macros.tex
include latex_to_myst/pygments.theme

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
